.commercials {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.commercials > * {
  min-height: 60rem;
  background-position: center;
  background-size: cover;
}
.commercials__title {
  margin-bottom: 3.2rem;
}
.commercials__description {
  margin-bottom: 4rem;
}
.commercials__cta {
  color: #34303e;
  position: relative;
}
.commercials__cta::after {
  content: "";
  width: 12.7rem;
  height: 1rem;
  position: absolute;
  bottom: -3px;
  left: -0.8rem;
  z-index: -1;
  border-radius: 2.8rem;
  transition: 0.3s ease-in-out;
}
.commercials__cta--yellow::after {
  background: rgba(250, 212, 0, 0.25);
}
.commercials__cta--pink::after {
  background: rgba(254, 119, 102, 0.25);
}
.commercials__cta--yellow:hover::after,
.commercials__cta--yellow:focus::after {
  background: #fad400;
}
.commercials__cta--pink:hover::after,
.commercials__cta--pink:focus::after {
  background: #fe7766;
}
.commercials__commercial--grid-1,
.commercials__commercial--grid-4 {
  padding: 15.8rem 11rem 15.7rem 16.5rem;
}
.commercials__commercial--grid-2 {
  background-image: url("./../images/desktop/image-transform.jpg");
}
.commercials__commercial--grid-3 {
  background-image: url("./../images/desktop/image-stand-out.jpg");
}
.commercials__commercial--grid-5 {
  background-image: url("./../images/desktop/image-graphic-design.jpg");
}
.commercials__commercial--grid-6 {
  background-image: url("./../images/desktop/image-photography.jpg");
}
.commercials__commercial--grid-5,
.commercials__commercial--grid-6 {
  padding: 39.8rem 19rem 5.9rem 19.1rem;
  text-align: center;
}
.commercials__commercial--grid-5 .commercials__title,
.commercials__commercial--grid-6 .commercials__title {
  margin-bottom: 2.7rem;
}

@media all and (max-width: 1270px) {
  .commercials > * {
    min-height: 40rem;
  }
  .commercials__title {
    margin-bottom: 2.4rem;
  }
  .commercials__description {
    margin-bottom: 3.2rem;
  }
  .commercials__commercial--grid-1,
  .commercials__commercial--grid-4 {
    padding: 6.4rem 2.4rem;
    text-align: center;
  }
  .commercials__commercial--grid-5,
  .commercials__commercial--grid-6 {
    min-height: 60rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media all and (max-width: 802px) {
  .commercials {
    grid-template-columns: 1fr;
  }

  .commercials__commercial--grid-1 {
    grid-row: 2 / 2;
  }
}
@media all and (max-width: 400px) {
  .commercials__commercial--grid-1 {
 
  }
  .commercials__commercial--grid-2 {
    background-image: url("./../images/mobile/image-transform.jpg");
  }
  .commercials__commercial--grid-3 {
    background-image: url("./../images/mobile/image-stand-out.jpg");
  }
  .commercials__commercial--grid-5 {
    background-image: url("./../images/mobile/image-graphic-design.jpg");
  }
  .commercials__commercial--grid-6 {
    background-image: url("./../images/mobile/image-photography.jpg");
  }
}
